<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
  <link rel="stylesheet" type="text/css" href="./css/thermostat.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <title>Jasmine Spec Runner v2.0.2</title>  
</head>

<body>

<main>
	<section id="actual">
		<label id="city">Outside:</label><p id="currentTemp"><p>
	</section>
	<aside class="temperature">
		<h1 >Here will be the temperature</h1>
	</aside>
	<section id="display">
		<ul id="display-buttons">
			<li class="reset"><a href="#" > |&lt;</a></li>
			<li class="decrease_temperature"><a href="#" > - </a></li>
			<li class="increase_temperature"><a href="#" > + </a></li>
		</ul>
	</section>
	<section id="section-radios"> 
		<input type="radio" name="power" class="powerSaveOn" id="power_on" value="On"> <label id="on" for="power_on">On</label></input>
		<input type="radio" name="power" class="powerSaveOff" id="power_off" value="Off"><label id="off" for="power_off">Off</label></input>
	</section>
</main>	
<script src="./js/jquery-2.1.1.min.js"></script>
<script src="./js/thermostat.js"></script>
<script src="./js/interface.js"></script>
</body>